#titulo {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(500px);
    }
}

body {
    background-color: royalblue;
}

.greeting {
    text-align: center;
}
